:root {
  --black: #141414;
  --white: #ffffffff;
  --darkgreen: #1e2827;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 40px;
  letter-spacing: -0.8px;
  background-color: #fff;
}

.hp-about {
  /* padding: 0 20px; */
  display: inline-flex;
  align-items: flex-start;
  padding: 80px 132px;
  gap: 110px;
  max-width: 1280px;
}

/* .hp-about .container {
  display: inline-flex;
  display: grid; 
  grid-template-columns:  auto 1fr; 
  gap: 30px 110px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0;
} */

.container-title {
  display: flex-start;
  align-items: flex-start;
}
.about-title {
  color: var(--darkgreen);
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  width: 174px;
  letter-spacing: -0.8px;
  column-gap: 110px;

  display: inline-flex;
  align-items: flex-start;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

article {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 0;
}

/* .about-section article p {
  color: #141414;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 20px;
  letter-spacing: -0.28px;
} */

.description {
  color: var(--black);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  /* margin: 0 0 20px; */
  letter-spacing: -0.28px;
  height: 90px;
  width: 439px;
}
.description.secondary {
  width: 380px;
}

/* .about-section figure {
  margin: 30px 0 0;
} */

/* .about-section figure img {
  width: 100%;
} */

.image {
  width: 100%;
  background: url(./images/watchstop.gif),
    lightgray -1.141px -0.292px / 100.738% 101.058% no-repeat;
}
@media screen and (min-width: 768px) {
  .hp-about {
    padding: 64px 0;
    width: 100%;
    gap: 40px;
  }
  .container-title {
    width: 768px;
    padding: 0 32px;
  }
  .about-section {
    width: 768px;
    display: flex;
    padding: 0 32px;
  }
  .about-title {
    column-gap: 40px;
  }
  .about-section {
    gap: 20px;
  }
}
